<vue-gwt:import class="com.github.gwtboot.sample.ui.vuegwt.client.components.todolist.Todo"/>
<div class="row">
  <div class="col s12">
    <input type="text"
           v-model="newTodoText"
           @keypress.enter="addTodo"/>
  </div>
  <div class="col s12">
    <button class="btn red"
            @click="clearTodos"
            v-show="todos != null && !todos.isEmpty()">
      Clear All
    </button>
    <button class="btn orange"
            @click="clearDoneTodos"
            v-show="doneTodos > 0">
      Clear Done
    </button>
  </div>
  <div class="col s12" v-for="Todo todo in todos">
    <todo v-bind:todo="todo" @removeTodo="removeTodo"/>
  </div>
</div>